<section class="py-5 text-center container">
  <app-table-actores
    [actores]="actores"
    (verPeliculasClick)="verPeliculas($event)"
    (verPaisClick)="verPais($event)"
    (verMasClick)="verMas($event)"
  />
</section>

<main>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <app-acordeon-pelicula [actorPelicula]="actorPelicula" />
        </div>

        <div class="col">
          <app-card-pais-actor [actorPais]="actorPais" />
        </div>

        <div class="col">
          <app-card-actor [actorDetalles]="actorDetalles" />
        </div>
      </div>
    </div>
  </div>
</main>
