<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" *ngFor="let item of items">
              <ng-container *ngIf="item.children; else normalLink">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ item.title }}
                  </a>
                  <ul class="dropdown-menu">
                    <li *ngFor="let child of item.children">
                      <a class="dropdown-item" [routerLink]="child.link">{{ child.title }}</a>
                    </li>
                  </ul>
                </li>
              </ng-container>
              <ng-template #normalLink>
                <li class="nav-item">
                  <a [routerLink]="item.link" routerLinkActive="active" class="nav-link active" aria-current="page">{{ item.title }}</a>
                </li>
              </ng-template>
            </li>
          </ul>
          
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" (onclick)="cerrarSesion()">Salir</button>
          </form>
        </div>
      </div>
    </nav>
  
    <section>
      <ng-content select="router-outlet"></ng-content>
    </section>
  
    <footer>
      <ng-content select="#footer"></ng-content>
    </footer>  
  </div>
